@font-face {
    font-family: fira-code;
    src: url("assets/FiraCode-Regular.ttf");
}

html, body {
    height: 100%;
    width: auto;
}

body {
    margin: 0;
    font-family: fira-code;

}

.greeting {
    display: flex;
    height: 20%;
}

.greeting > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting > .icon-div {
    flex: 5;   
}
.greeting > .right {
    justify-content: start;
}

.greeting > .text-div {
    flex: 1;
    min-width: 225px
}

.greeting > div > img {
    height: 40%;
    max-height: 100%;
}

.greeting > div > p {
    font-size: 2.5rem;
    font-weight: bold;
}

.content {
    display: flex;
}

table {
    flex: 1;
    width: 80%;
}

thead {
    background-color: slateblue;
    color: white;
    font-weight: bold;
}

.button-div {
    display: flex;
    height: 10%;
    gap: 5%;
    justify-content: center;
}

/* .button-div > button {
} */