@font-face {
    font-family: fira-code;
    src: url("assets/FiraCode-Regular.ttf");
}

html, body {
    height: 100%;
    width: auto;
}

body {
    margin: 0;
}

.greeting {
    display: flex;
    height: 20%;
}

.greeting > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting > .icon-div {
    flex: 5;   
}
.greeting > .right {
    justify-content: start;
}

.greeting > .text-div {
    flex: 1;
    min-width: 225px
}

.greeting > div > img {
    height: 40%;
    max-height: 100%;
}

.greeting > div > p {
    font-size: 2.5rem;
    font-family: fira-code;
    font-weight: bold;
}