@font-face {
    font-family: fira-code;
    src: url("assets/FiraCode-Regular.ttf");
}

html, body {
    height: 100%;
    width: auto;
}

body {
    margin: 0;
    font-family: fira-code;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
}

.greeting {
    display: flex;
    height: max(100px,20%);
    position: relative;
}

.greeting > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting > .icon-div {
    flex: 5;   
}
.greeting > .right {
    justify-content: start;
}

.greeting > .text-div {
    flex: 1;
    min-width: 225px
}

.greeting > div > img {
    height: clamp(75px,10%,100%);
    position: fixed;
}

.greeting > div > p {
    font-size: 2.5rem;
    min-height: fit-content;
}

.content {
    display: flex;
    justify-content: center;
    min-height: fit-content;
}

table {
    width: 90%;
}

tr {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
}

th, td {
    align-self: center;
    justify-self: center;
    height: fit-content;
}

th img {
    height: 2rem;
}

/* can't explicitly style thead, but can style tr and give it a class name */
.headings {
    background-color: slateblue;
    color: white;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 16px;
}

.button-div {
    display: flex;
    height: 10%;
    gap: 5%;
    justify-content: center;
    margin: 2% auto auto auto;
}

button, input[type="submit"] {
    font-family: fira-code;
    font-weight: 900;
    font-size: 1rem;
    background-color: white;
    color: red;
    height: fit-content;
    border: 5px solid green;
    border-radius: 16px;
    padding: 5px;
    cursor: pointer;
}

.delete {
    display: flex;
    border: 5px solid white;
    flex-wrap: wrap;
    justify-content: center;
}

.delete > p, .delete > img {
    justify-self: center;
    align-self: center;
}

button:hover, input[type="submit"]:hover {
    border: 5px solid black;
}

.close-modal {
    margin-top: 2%;
}

form {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
}